@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$primary: red;
$secondary: blue;
$light: #F8F8F8;
$dark: #383838;
$black: #000000;
$white: #FFFFFF;

@media only screen {
    body {
        font-size: 1.6rem;
        color: $dark !important;

        section {
            padding: 60px 0;
        }

        a {
            color: $primary;
            text-decoration: none;
        }
          
        ol, ul {
            list-style-type: none;
        }

        #home {
            padding: 0;
            background-image: url('../img/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;

            .overlay {
                background-color: rgba(0,0,0,0.5);
                z-index: 1;

                .introduction {
                    padding: 60px 0;
                    z-index: 5;

                    h1 {
                        span {
                            font-size: 2.5rem;
                        }
                    }

                    p {
                        color: white;
                    }
                }
            }
        }

        #about {
            .timeline {
                position: relative;
                width: 100%;
                max-width: 1140px;
                margin: 0 auto;
                padding: 15px 0;

                &::after {
                    content: '';
                    position: absolute;
                    width: 2px;
                    background: $primary;
                    top: 0;
                    bottom: 0;
                    left: 90px;
                    margin-left: -1px;
                }
            }

            .event {
                padding: 15px 30px 15px 120px;
                position: relative;
                background: inherit;
                width: 100%;
                
                &::after {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: calc(50% - 8px);
                    right: -8px;
                    background: #ffffff;
                    border: 2px solid $primary;
                    border-radius: 16px;
                    z-index: 1;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 2px;
                    top: calc(50% - 1px);
                    right: 8px;
                    background: $primary;
                    z-index: 1;
                }

                .date {
                    position: absolute;
                    display: inline-block;
                    top: calc(50% - 8px);
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: $primary;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    z-index: 1;
                }

                .icon {
                    position: absolute;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    padding: 9px 0;
                    top: calc(50% - 20px);
                    background: $light;
                    border: 2px solid $primary;
                    border-radius: 40px;
                    text-align: center;
                    font-size: 18px;
                    color: $primary;
                    z-index: 1;
                }

                .content {
                    padding: 30px 90px 30px 30px;
                    background: $light;
                    position: relative;
                    border-radius: 0 500px 500px 0;
                    
                    h2 {
                        margin: 0 0 10px 0;
                        font-size: 18px;
                        font-weight: normal;
                        color: $primary;
                    }
                    
                    p {
                        margin: 0;
                        font-size: 16px;
                        line-height: 22px;
                        color: $dark;
                    }
                }
            }

            .event.left {
                left: 0;

                &::after {
                    left: 82px;
                }
    
                &::before {
                    left: 100px;
                    border-color: transparent $primary transparent transparent;
                }
                
                .date {
                    right: auto;
                    left: 15px;
                }
                
                .icon {
                    right: auto;
                    left: 146px;
                }

                .content {
                    padding: 30px 30px 30px 90px;
                    border-radius: 500px 0 0 500px;
                }
            }

            .event.right {
                left: 0%;
                
                &::after {
                    left: 82px;
                }
                
                &::before {
                    left: 100px;
                    border-color: transparent $primary transparent transparent;
                }
                
                .date {
                    right: auto;
                    left: 15px;
                }
                
                .icon {
                    right: auto;
                    left: 146px;
                }
                
                .content {
                    padding: 30px 30px 30px 90px;
                    border-radius: 500px 0 0 500px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        #home {
            background-position: 0 -30px;
        }

        #about {
            .timeline {
                &::after {
                    left: 50%;
                }
            }

            .event {
                width: 50%;
                padding: 15px 30px;
            }

            .event.right {
                left: 50%;

                &::after {
                    left: -8px;
                }

                &::before {
                    left: 8px;
                    border-color: rgba(0,0,0,0);
                }

                .date {
                    left: -75px;
                }

                .icon {
                    left: 56px;
                }
            }

            .event.left {
                &::after {
                    right: -8px;
                    left: auto;
                }

                &::before {
                    left: auto;
                    right: 8px;
                    border-color: rgba(0,0,0,0);
                }

                .date {
                    right: -75px;
                    left: auto;
                }

                .icon {
                    right: 56px;
                    left: auto;
                }

                .content {
                    border-radius: 0 500px 500px 0;
                    padding: 30px 90px 30px 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    body {
        #home {
            background-position: 0 -50px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {
        #home {
            height: calc(100vh - 56px);
            background-position: 0 0;

            .overlay {
                height: 100%;

                .row {
                    height: 100%;
                }
            }
        }
     }
}

@import "../../node_modules/bootstrap/scss/bootstrap";