<header class="main_h">
    <div class="row">
        <a class="logo" href="/me">gaudinickiDE</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="/me">Me</a></li>
                <li><a href="/coding">Coding</a></li>
                <li><a href="/youtube">Youtube</a></li>
            </ul>
        </nav>
    </div>
</header>