<section id="about">
	<div class="container-lg">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-lg-10">
				<div class="text-center">
					<h2>About Me</h2>
					<p class="lead">You probably want to find out more about me, don't you? So take your chance and explore my life so far...</p>
				</div>
			</div>
		</div>	

		<div class="timeline my-5">
			<div class="event left">
			  <div class="date">Feb 2000</div>
			  <i class="icon fas fa-baby"></i>
			  <div class="content">
				<h2>It's my birthday!</h2>
				<p>
					On February 20th 2000 I was born in Fulda, Hesse. It should become the beginning of a wonderful story!
				</p>
			  </div>
			</div>
			<div class="event right">
			  <div class="date">Aug 2006</div>
			  <i class="icon fas fa-school"></i>
			  <div class="content">
				<h2>Enrollment in elementary school</h2>
				<p>
					In 2006 I was enrolled in the "Grundschule am Rippberg" in Hattenhof, Neuhof. Still 12 years to go...
				</p>
			  </div>
			</div>
			<div class="event left">
			  <div class="date">Jul 2010</div>
			  <i class="icon fas fa-user-graduate"></i>
			  <div class="content">
				<h2>Elementary school graduation</h2>
				<p>
					After four years I successfully graduated from elementary school and got a recommendation for high school.
				</p>
			  </div>
			</div>
			<div class="event right">
				<div class="date">Aug 2010</div>
				<i class="icon fas fa-school"></i>
				<div class="content">
				  <h2>Enrollment in high school</h2>
				  <p>
					After finishing elementary school I followed the recommendation of my teacher and attended the "Rabanus-Maurus-Schule", a high school in Fulda, Hesse.
				  </p>
				</div>
			  </div>
			<div class="event left">
			  <div class="date">Mar 2013</div>
			  <i class="icon fas fa-exchange-alt"></i>
			  <div class="content">
				<h2>International exchange program</h2>
				<p>
					In 2013, I participated in an international exchange program in Broadstairs, England. For three weeks I lived with a host family, took language lessons and did various activities with students from all over the world.
				</p>
			  </div>
			</div>
			<div class="event right">
				<div class="date">Jan 2015</div>
				<i class="icon fas fa-ruler"></i>
				<div class="content">
				  <h2>Internship at the architectural office Krieg+Warth in Eichenzell, Hesse</h2>
				  <p>
					In 2015, I did an internship at the architectural firm Krieg+Warth. This internship was mandatory when attending high school. During this internship I helped in the office and built a cardboard model of a house.
				  </p>
				</div>
			</div>
			<div class="event left">
			<div class="date">Aug 2015</div>
			<i class="icon fas fa-industry"></i>
			<div class="content">
				<h2>Vacation job at the company "Reform Maschinenfabrik GmbH" in Fulda, Hesse</h2>
				<p>
					During the summer vacations 2015 I did a vacation job at the company "Reform Machinenfabrik GmbH". There I worked in the electronics department and helped to wire machines. 
				</p>
			</div>
			</div>
			<div class="event right">
			  <div class="date">Aug 2015</div>
			  <i class="icon fas fa-user-graduate"></i>
			  <div class="content">
				<h2>Promotion to the "Gymnasiale Oberstufe"</h2>
				<p>
					After finishing the 9th grade I was promoted to the "Gymnasiale Oberstufe". This is a prerequisite for reaching the Abitur.
				</p>
			  </div>
			</div>
			<div class="event left">
				<div class="date">Feb 2016</div>
				<i class="icon fas fa-blind"></i>
				<div class="content">
				  <h2>Social internship at "Mediana Mobil GmbH" in Fulda, Hesse</h2>
				  <p>
					In 2016, I did an internship at "Mediana Mobil GmbH". This internship was also a mandatory internship during high school. I mainly worked in the office, but also got in touch with elderly people and helped with their care.
				  </p>
				</div>
			</div>
			<div class="event right">
			  <div class="date">Jul 2016</div>
			  <i class="icon fas fa-user-graduate"></i>
			  <div class="content">
				<h2>Equalization with the graduation from secondary school</h2>
				<p>
					After finishing the 10th grade my school report is considered equivalent to the secondary school leaving certificate.
				</p>
			  </div>
			</div>
			<div class="event left">
				<div class="date">Aug 2016</div>
				<i class="icon fas fa-school"></i>
				<div class="content">
				  <h2>Start of the "Fachoberschule" with specialization in information technology</h2>
				  <p>
					After finishing the 10th grade of high school, I decided to start a new chapter and to specialize in computer science. So from then on I attended the "Fachoberschule" with the specialization Information Technology at the "Konrad-Zuse-Schule" in Hünfeld, Hesse. Part of the Fachoberschule was a one-year internship which I did at the company "Toolstage Software Engineering GbR" in Fulda, Hesse.
				  </p>
				</div>
			</div>
			<div class="event right">
				<div class="date">Aug 2017</div>
				<i class="icon fas fa-industry"></i>
				<div class="content">
				  <h2>Start of a part-time job at the company "Paul Wiegand GmbH"</h2>
				  <p>
					In 2017, I started a part-time job at the company "Paul Wiegand GmbH". I worked there till July 2018. I was doing my duty in the data maintenance and product management department.
				  </p>
				</div>
			</div>
			<div class="event left">
				<div class="date">Jun 2018</div>
				<i class="icon fas fa-user-graduate"></i>
				<div class="content">
				  <h2>Graduation from the "Fachoberschule"</h2>
				  <p>
					In 2018, I graduated from the "Fachoberschule" with a grade point average of 1.2. With this grade point average I achieved the best result in my class and the second best result in the entire school across all subjects.
				  </p>
				</div>
			</div>
			<div class="event right">
				<div class="date">Aug 2018</div>
				<i class="icon fas fa-university"></i>
				<div class="content">
				  <h2>Start of a dual study program in Applied Computer Science (B.Sc.)</h2>
				  <p>
					After graduating from the Fachoberschule, I started a dual study program in Applied Computer Science (B.Sc.). The theory phases of this study program take place at the NORDAKADEMIE in Elmshorn, Schleswig-Holstein. During the practical phases I work for the company "bonprix Handelsgesellschaft mbH".
				  </p>
				</div>
			</div>
			<div class="event left">
				<div class="date">Mar 2022</div>
				<i class="icon fas fa-user-graduate"></i>
				<div class="content">
				  <h2>Expected graduation from the dual study program and conferment of the bachelor's degree</h2>
				  <p>
					I expect to graduate from the dual study program in March 2022. With this, I will also acquire the title "Bachelor of Science".
				  </p>
				</div>
			</div>
		</div>
	</div>
</section>