<section id="about">
	<div class="container-lg">
		<div class="text-center">
            <h2>About Me</h2>
            <p class="lead">You probably want to find out more about me, don't you? So take your chance and explore my life so far...</p>
        </div>

		<div class="timeline my-5">
			<div class="event left">
			  <div class="date">15 Dec</div>
			  <i class="icon bi bi-person"></i>
			  <div class="content">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
				  Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
				</p>
			  </div>
			</div>
			<div class="event right">
			  <div class="date">22 Oct</div>
			  <i class="icon bi bi-person"></i>
			  <div class="content">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
				  Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
				</p>
			  </div>
			</div>
			<div class="event left">
			  <div class="date">10 Jul</div>
			  <i class="icon bi bi-person"></i>
			  <div class="content">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
				  Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
				</p>
			  </div>
			</div>
			<div class="event right">
			  <div class="date">18 May</div>
			  <i class="icon bi bi-person"></i>
			  <div class="content">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
				  Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
				</p>
			  </div>
			</div>
			<div class="event left">
			  <div class="date">10 Feb</div>
			  <i class="icon bi bi-person"></i>
			  <div class="content">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
				  Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
				</p>
			  </div>
			</div>
			<div class="event right">
			  <div class="date">01 Jan</div>
			  <i class="icon bi bi-person"></i>
			  <div class="content">
				<h2>Lorem ipsum dolor sit amet</h2>
				<p>
				  Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
				</p>
			  </div>
			</div>
		</div>
	</div>
</section>