<section id="contact" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h2>Get in Touch</h2>
            <p class="lead">Questions to ask? Fill out the form to contact me directly...</p>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-6">
                <form>
                    <label for="email" class="form-label">Email address:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                        <input type="email" class="form-control" id="email" placeholder="e.g. mario@example.com">
                    </div>

                    <label for="name" class="form-label">Name:</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input type="text" class="form-control" id="name" placeholder="e.g. Mario">
                    </div>
                    
                    <label for="subject" class="form-label">What is you question about?</label>
                    <div class="mb-4 input-group">
                        <span class="input-group-text">
                            <i class="bi bi-chat-right-dots-fill"></i>
                        </span>
                        <input type="text" class="form-control" id="subject" placeholder="Where's Luigi?">
                    </div>

                    <div class="form-floating mb-4 mt-5">
                        <textarea id="query" class="form-control" style="height: 140px"></textarea>
                        <label for="query" class="form-label">Your query...</label>
                    </div>

                    <div class="mb-4 text-center">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>