<section id="footer">
    <div class="container-lg">
        <p>&copy; 2021 Niklas Witzel | gaudinicki.de | <a href="/imprint">Imprint</a> | <a href="/privacy">Privacy policy</a></p>
        <ul class="social">
            <li>
                <a target="_blank" class="mail" href="mailto:witzel.niklas@gmx.de">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li>
                <a target="_blank" class="twitter" href="https://www.twitter.com/Gaudi_wi">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" class="linkedin" href="https://www.linkedin.com/in/niklas-witzel-a947141b4/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a target="_blank" class="xing" href="https://www.xing.com/profile/Niklas_Witzel5/cv">
                    <i class="fab fa-xing"></i>
                </a>
            </li>
            <li>
                <a target="_blank" class="instagram" href="https://www.instagram.com/gaudinicki/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a target="_blank" class="youtube" href="https://www.youtube.com/channel/UC9UyJTUls-X3bu_QdLQDi4w">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a target="_blank" class="github" href="https://github.com/GaudiNicki">
                    <i class="fab fa-github"></i>
                </a>
            </li>
          </ul>
    </div>
</section>