<section id="home">
    <div class="container-lg h-100">
        <div class="row justify-content-sm-center justify-content-lg-end align-items-sm-center align-items-lg-top h-100">
            <div class="col-lg-6 p-5">
                <h1>Hi! I'm Niklas <span class="fw-bold text-primary">Witzel</span>.</h1>
                <p class="lead"><em>Full-stack developer</em> and <em>Dual Student in Applied Computer Science</em>. IT and especially programming is my greatest passion, which is why I have made it my profession.</p>
                <a class="btn btn-large btn-secondary my-3" href="#about">Learn more <i class="bi bi-caret-right-fill"></i></a>
            </div>
        </div>
    </div>
</section>