<section id="home">
    <div class="overlay">
        <div class="container-md">
            <div class="row justify-content-center justify-content-xl-end align-items-center">
                <div class="col-lg-6 px-5 introduction">
                    <h1>Hi! I'm Niklas <span class="fw-bold text-primary">Witzel</span>.</h1>
                    <p class="lead my-3"><b>IT-Consultant</b> and self-employed <b>Full-stack developer</b> and <b>Programming Coach</b>. IT and especially
                    programming is my greatest passion, which is why I have made it my profession.</p>
                    <a class="btn btn-large btn-secondary my-3" href="#about">Learn more <i class="bi bi-caret-right-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
