<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-xxl">
      <a class="navbar-brand" href="#home">
        <img src="/img/favicon.jpg" alt="gaudnickiDE Logo" width="30" height="24" class="d-inline-block align-text-top">
        gaudnickiDE
      </a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-3">
                    <a class="nav-link active" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>