<!DOCTYPE html>
<html lang="de">
    <%- include('partials/head.ejs') %>
    <body class="coding">
        
        <%- include('partials/header.ejs') %> 

        <div class="content-wrapper">
            <div class="content">
                <div class="catcher_01">
                    <div class="overlay">
                        <h1>"Coding is the 'literacy' of the 21st century"</h1>
                        <h2>- Vignir Gudmundsson</h2>
                    </div>
                </div>
                <div class="text_01">
                    <h1>Meine Leidenschaft fürs Coden</h1>
                    <p>Die IT und gerade das Programmieren sind meine große Leidenschaft, die ich auch deshalb gerne zu meinem Beruf (oder Berufung 😉) machen möchte.
                        Ob es darum geht, simple Spiele oder eigene Apps zu programmieren, man lernt einfach nie aus. Seine eigenen Ideen
                        und Vorstellungen umzusetzen, macht einfach riesigen Spaß und auch immer wieder ein bisschen stolz.
                        <br /><br />Die Weiterentwicklung gerade im Softwarebereich steht nie still, weshalb es fast täglich weitreichende
                        Neuerungen zu bestaunen gibt. Ein Phänomen hat mich in den letzen Monaten besonders angefixt, die künstliche Nachbildung von Intelligenz,
                        auch KI oder AI genannt, mit den sogenannten neuronalen Netzen, die ein Versuch darstellen, das menschliche Gehirn mit seinen vielen Milliarden Neuronen nachzubilden.
                        Für mich ist es einfach unfassbar faszinierend, was mit
                        moderner Technik bereits möglich ist und davon möchte ich ein Teil sein.
                        <br /><br />Dazu passt auch das obige Zitat sehr gut, was zu Deutsch soviel heißt wie: "Programmieren ist die Lesekompetenz des 21.Jahrhunderts".
                        Maschinen das Rechnen, Denken und Handeln beizubringen wird die nahe und auch ferne Zukunft massiv beeinträchtigen, aber auch massiv bereichern.
                        Also kann ich euch nur empfehlen: Fangt an zu coden und werdet ein Teil davon!
                        <br /><br />
                        Ein kleiner Tipp meinerseits: Mit <b>"Strg + U"</b> ist dieser neue Kosmos für euch sofort zugänglich. Dort erfahrt ihr, wie diese
                        Seite im Hintergrund funktioniert! Cool oder?🤗
                    </p>
                </div>
                <div class="catcher_02"></div>
                <div class="text_02">
                    <div class="detail-wrapper">
                        <div class="left">
                            <div class="image-wrapper">
                                <img src="/img/languages.jpg" alt="Programming Languages" />
                                Quelle: <a href="https://www.fintechnews.org/wp-content/uploads/2018/08/mundo-1.jpg">Fintechnews</a>
                            </div>
                        </div>
                        <div class="right">
                            <h1>Welche Sprachen sprecht ihr so?</h1>
                            <p>
                                Blöde Frage oder? Natürlich Deutsch, die meisten auch Englisch, manche Sprachbegabte unter euch auch noch Französisch, Spanisch,
                                Chinesisch, Russisch oder eine andere der weltweit 6500 Sprachen. Diese Antwort klingt heutzutage noch logisch, aber in ein paar Jahrzehnten
                                wird das vielleicht schon anders klingen. In Etwa so: "Ich kann Deutsch, Englisch, HTML, CSS, JavaScript und ein wenig Java".
                                Ähm. Halt! Bitte was? Java, ist das nicht Kaffee oder so? Und HTML, CSS, JavaScript, von was redet der da?

                                <br /><br />Das sind alles schon jetzt sehr verbreitete und wichtige Programmiersprachen, die fast jeder Programmierer auf dieser Welt
                                "sprechen" bzw. schreiben kann. HTML, CSS und JavaScript dominieren das WorldWideWeb. Java ist die beliebteste Einsteigersprache und wird auch im
                                unternehmerischen Kontext häufig für verschiedenste Software eingesetzt. Sprachen wie Python dominieren Business Intelligence, analytische Tools und die
                                Sparte der künstlichen Intelligenz. Im Grunde dienen Sie aber alle dazu einem Computer bzw. einer Maschine über 1-en und 0-en Befehle zu geben.

                                <br /><br />Und so kann ich dann in ein paar Jahrzehnten meinen Kinder mal voller Stolz erzählen: "Ich kann <b>Deutsch, Englisch, HTML, CSS, JavaScript, Java, Kotlin, SQL, C++, C#, Batch,
                                Python, PHP und Visual Basic</b>". Und das finde, wenn ich darüber nachdenke, heute schon unfassbar cool.🤟
                            </p>
                        </div>
                    </div>
                </div>
                <div class="catcher_03">
                    <div class="overlay">
                        <h1>Übung macht den Meister</h1>
                    </div>
                </div>
                <div class="text_03">
                    <h1>Mein ganzer Stolz...</h1>
                    <p>
                        ...sind meine eigenen Projekte. Mit jeder Idee und jedem Projekt, dass ich begonnen habe, erweitert sich mein Kosmos
                        ein bisschen mehr. Daher möchte ich euch an meinen coolsten Projekten teilhaben lassen.
                    </p>

                    <div class="game_developing_wrapper">
                        <h2>Spieleprogrammierung mit Java</h2>
                        <p>
                            Ein großes Interesse meinerseits gilt unter anderem der Spieleprogrammierung. Da Java die Sprache ist, die ich mit am besten beherrsche,
                            habe ich mit dieser Sprache auch herumexperimentiert, wie man "einfache" Spieleklassiker umsetzen kann. Herausgekommen sind folgende Spiele bzw.
                            Klone von echten Spieleklassikern.
                        </p>


                        <div class="single_game">
                            <div class="left_text">
                                <div class="text_wrapper">
                                    <h3>Pong</h3>
                                    <p class="pong">
                                        Pong ist ein zeitloser Spieleklassiker. Für zwei Spieler gilt es, einen Ball möglichst lange im Spiel zu halten.
                                        Gelingt das einem Spieler nicht, bekommt der Gegner einen Punkt.<br /><br/>
                                        <b>Nice to know:</b> Zu diesem Spiele-Klon mache ich auf Youtube eine Tutorial-Reihe. Dadurch seid auch ihr in der Lage,
                                        mit mir das Spiel zu programmieren. Weiteres findet ihr unter dem Menüpunkt <a href="youtube.html">YouTube</a>.
                                        <br/><br/>
                                        <a href="https://github.com/GaudiNicki/Pong">Hier geht es zum Source-Code</a>
                                    </p>
                                </div>
                            </div>
                            <div class="right_img">
                                <img src="/img/placeholder.png" alt="Pong Demo"/>
                            </div>
                        </div>

                        <div class="single_game">
                            <div class="left_img">
                                <img src="/img/placeholder.png" alt="TicTacToe Demo"/>
                            </div>
                            <div class="right_text">
                                <div class="text_wrapper">
                                    <h3>TicTacToe</h3>
                                    <p class="tictactoe">
                                        Das Prinzip von TicTacToe sollte eigentlich jeder kennen. Zwei Spieler setzen nacheinander jeweils ein X oder ein O
                                        in ein 3x3 Spielfeld. Wer zuerst drei X oder drei O nebeneinander hat, gewinnt das Spiel.
                                        <br/><br/>
                                        <a href="https://github.com/GaudiNicki/TicTacToe">Hier geht es zum Source-Code</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="single_game">
                            <div class="left_text">
                                <div class="text_wrapper">
                                    <h3>2048</h3>
                                    <p class="2048">
                                        2048 ist ebenfalls ein beliebtes Mini-Game. Hier geht es darum, durch geschicktes Zusammenschieben von Rechtecken
                                        mit bestimmten Zahlenwerten, ein Rechteck mit dem Wert 2048 zu bekommen.
                                        <br/><br/>
                                        <a href="https://github.com/GaudiNicki/2048">Hier geht es zum Source-Code</a>
                                    </p>
                                </div>
                            </div>
                            <div class="right_img">
                                <img src="/img/placeholder.png" alt="2048 Demo"/>
                            </div>
                        </div>

                        <div class="single_game">
                            <div class="left_img">
                                <img src="/img/placeholder.png" alt="Snake Demo"/>
                            </div>
                            <div class="right_text">
                                <div class="text_wrapper">
                                    <h3>Snake</h3>
                                    <p class="snake">
                                        Snake ist DER Arcade-Spieleklassiker schlechthin. Vielen ist es bekannt vom Nokia 3210. Man steuert eine Schlange, die auf
                                        der Suche nach Äpfeln ist. Isst die Schlange einen Apfel, wird Sie länger. Berührt man mit dem Kopf den Körper der Schlange
                                        oder den Rand des Spielfelds, heißt es "Game Over".
                                        <br/><br/>
                                        <a href="https://github.com/GaudiNicki/Snake">Hier geht es zum Source-Code</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="single_game">
                            <div class="left_text">
                                <div class="text_wrapper">
                                    <h3>Avoid</h3>
                                    <p class="avoid">
                                        Beim Spiel Avoid geht es darum, als Spieler herunterfallenden Rechtecken mit geschicktem Wechseln der Bahnen auszuweichen.
                                        Gelingt das nicht, verliert der Spieler ein Leben. Verliert er 3 Leben ist das Spiel beendet. Je länger man dabei durchhält,
                                        desto höher ist am Ende der Highscore.
                                        <br/><br/>
                                        <a href="https://github.com/GaudiNicki/Avoid">Hier geht es zum Source-Code</a>
                                    </p>
                                </div>
                            </div>
                            <div class="right_img">
                                <img src="/img/placeholder.png" alt="Avoid Demo"/>
                            </div>
                        </div>

                        <div class="single_game">
                            <div class="left_img">
                                <img src="/img/placeholder.png" alt="PanzerHQ Demo"/>
                            </div>
                            <div class="right_text">
                                <div class="text_wrapper">
                                    <h3>PanzerHQ</h3>
                                    <p class="panzerHQ">
                                        PanzerHQ ist ein sehr rudimentärer 2D-Shooter, in dem zwei Panzer gegeneinander antreten. Ist der Panzer des Spielers besiegt, endet
                                        das Spiel. Ist der gegnerische Panzer geschlagen, spawnt ein neuer, stärkerer Panzer. In diesem Spiel ist auch das erste Mal ein kleines
                                        In-Game Menü, in dem man bspw. den Panzer "designen" kann.
                                        <br/><br/>
                                        <a href="https://github.com/GaudiNicki/PanzerHQ">Hier geht es zum Source-Code</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %> 
    </body>
</html>