<html lang="de">
<%- include("partials/head.ejs")%>
<body>
    <!-- navbar -->
    <%- include("partials/navbar.ejs") %> 
    
    <!-- Home -->
    <%- include("partials/home.ejs") %> 

    <!-- JS Imports -->
    <%- include("partials/jsScripts.ejs") %>
</body>
</html>