<!DOCTYPE html>
<html lang="de">
    <%- include('partials/head.ejs') %> 
    <body class="me">
        
        <%- include('partials/header.ejs') %> 

        <div class="content-wrapper">
            <div class="content">
                <div class="catcher_01">
                    <h1>Das bin ich</h1>
                </div>
                <div class="text_01">
                    <div class="detail-wrapper">
                        <div class="left">
                            <img src="/img/me.jpg" alt="me" />
                        </div>
                        <div class="right">
                            <p>Hey, <br>
                            schön, dass du dich auf meine Website verirrt hast. Ich bin Niklas, <script>calcAge(20,2,2000);</script> Jahre und wohne derzeit in Hamburg.<br><br>
                            Im Moment versuche ich mich an einem Dualen Studium der Angewandten Informatik. Auf dieser Website will ich dir meine ganzen Hobbys und Facetten näher bringen.<br><br>
                            Viel Spaß dabei 😉<br><br>
                            <span class="signature">Niklas</span></p>
                        </div>
                    </div>
                </div>
                <div class="catcher_02">
                    <h1>Hard Facts</h1>
                </div>
                <div class="text_02">
                    <div class="hardfacts-wrapper">
                        <div class="left">
                            <dl class="accordion">
                                <dt class="active"><i class="fas fa-info-circle"></i>Allgemein</dt>
                                <dd>
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i>Name: Niklas Witzel</li>
                                        <li><i class="fas fa-angle-right"></i>Geburtsdatum: 20.02.2000</li>
                                        <li><i class="fas fa-angle-right"></i>Alter: <script>calcAge(20,2,2000);</script></li>
                                    </ul>
                                </dd>
                                <dt class="active"><i class="fas fa-code"></i>Coding Skills</dt>
                                <dd>
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i>Webentwicklung</li>
                                        <li><i class="fas fa-angle-right"></i>Appentwicklung auf Androidbasis</li>
                                        <li><i class="fas fa-angle-right"></i>Spieleentwicklung</li>
                                        <li><i class="fas fa-angle-right"></i>Neuronale Netze & Künstliche Intelligenz</li>
                                        <li><i class="fas fa-angle-right"></i>Datenbankapplikationen</li>
                                    </ul>
                                </dd>
                                <dt class="active"><i class="fas fa-laptop"></i>Sonstige EDV-Fähigkeiten</dt>
                                <dd>
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i>Bildbearbeitung & Screendesign</li>
                                        <li><i class="fas fa-angle-right"></i>Video- und Audioschnitt</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="right">
                            <dl class="accordion">
                                <dt class="active"><i class="fas fa-graduation-cap"></i>Schulischer Werdegang</dt>
                                <dd>
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i>2006 - 2010 Grundschule am Rippberg (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>2010 - 2016 Domgymnasium Fulda (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>2016 - 2018 Konrad-Zuse-Schule Hünfeld (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>2018 Fachabitur in der Richtung Informationstechnik</li>
                                        <li><i class="fas fa-angle-right"></i>ab 2018 Duales Studium (B.Sc.) Angewandte Informatik an der NORDAKADEMIE Elmshorn (Schleswig-Holstein)</li>
                                    </ul>
                                </dd>
                                <dt class="active"><i class="fas fa-briefcase"></i>Beruflicher Werdegang</dt>
                                <dd>
                                    <ul>
                                        <li><i class="fas fa-angle-right"></i>Betriebspraktikum beim Krieg+Warth Architektenbüro in Eichenzell (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>Ferienjob bei der Reform Maschinenfabrik in Fulda (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>Sozialpraktikum bei der Mediana Mobil GmbH in Fulda (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>FOS-begleitendes Jahrespraktikum bei der ToolStage Software Engineering GbR Fulda (Hessen)</li>
                                        <li><i class="fas fa-angle-right"></i>Nebenjob bei der Paul Wiegand GmbH</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <%- include('partials/footer.ejs') %>
</html>