@media only screen {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        color: #8f8f8f;
        background: white;
        font-family: "Cardo", serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }

    body.home {
        background: url("/img/background.jpg") no-repeat fixed;
        background-size: cover;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        color: red;
        font-size: 36px;
        margin-bottom: 20px;
    }

    h2 {
        color: #1779ba;
        font-size: 28px;
        margin-bottom: 15px;
    }

    p, a, li {
        font-family: 'Cardo', serif;
        font-size: 24px;
    }

    a:hover {
        color: red;
    }
}