@media only screen {
    .me .content .catcher_01 {
        background: url("/img/hamburg03.jpeg") center no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
    }

    .me .content .catcher_02 {
        background: url("/img/hamburg01.jpeg") center no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
    }

    .me .content .catcher_01 h1, .me .content .catcher_02 h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 60px;
        color: #FFF;
        text-align: center;
        width: 100%;
    }

    .me .text_01 .detail-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .me .text_01 .detail-wrapper .left {
        padding: 8% 8%;
    }

    .me .text_01 .detail-wrapper .left img {
        border-color: white;
        border-radius: 50%;
    }

    .me .text_01 .detail-wrapper .right {
        width: 100%;
        padding: 2% 8%;
    }

    .me .text_01 .detail-wrapper .right p {
        font-size: 24px;
    }

    .me .text_01 .detail-wrapper .right p .signature {
        font-family: "Indie Flower", sans-serif;
        font-size: 40px;
    }

    .me .text_02 .hardfacts-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 2vh 5%;
    }

    .me .text_02 .hardfacts-wrapper .left {
        width: 100%;
        padding: 0;
    }

    .me .text_02 .hardfacts-wrapper .right {
        width: 100%;
        padding: 0;
    }

    .me .text_02 .hardfacts-wrapper ul li {
        list-style-type: none;
    }

    .me .text_02 .hardfacts-wrapper .left dl dt, .me .text_02 .hardfacts-wrapper .right dl dt {
        margin: 2rem 0 1rem 0;
    }

    .me .text_02 .hardfacts-wrapper .left dl dt, .me .text_02 .hardfacts-wrapper .right dl dt {
        font-size: 30px;
    }

    .me .text_02 .hardfacts-wrapper i.list {
        margin-left: 3%;
    }

    .me .text_02 .hardfacts-wrapper dl dd ul li:first-child {
        margin-top: 1%;
    }

    .me .text_02 .hardfacts-wrapper dl dd ul li {
        margin-left: 4%;
    }

    .me .text_02 .hardfacts-wrapper dl dd ul li i {
        margin-right: 3%;
    }

    .me .text_02 .hardfacts-wrapper dl dt {
        transition: all 300ms;
    }

    .me .text_02 .hardfacts-wrapper dl dt, .me .text_02 .hardfacts-wrapper dl dd {
        float: left;
        width: 100%;
        margin: 0;
    }

    .me .text_02 .hardfacts-wrapper dl dt i:first-child {
        margin-right: 2%;
    }

    .me .text_02 .hardfacts-wrapper dl dt:hover {
        color: red;
        cursor: pointer;
    }

    .me .text_02 .hardfacts-wrapper dl dd li:hover i {
        transition: all .3s;
        color: red;
    }

    .me .text_02 .hardfacts-wrapper dl dd li:hover {
        cursor: default;
    }
}

@media only screen and (min-width: 766px) {
    .me .text_01 .detail-wrapper .left {
        width: 50%;
        padding: 10vh 10%;
    }

    .me .text_01 .detail-wrapper .right {
        width: 50%;
        padding: 10vh 3%;
    }

    .me .text_02 .hardfacts-wrapper {
        padding: 0;
    }

    .me .text_02 .hardfacts-wrapper .left {
        width: 50%;
        padding: 10vh 10%;
    }

    .me .text_02 .hardfacts-wrapper .right {
        width: 50%;
        padding: 10vh 10%;
    }
}