.datenschutz .content {
    margin: 3% 10vw;
}

.datenschutz h1 {
    color: red;
    font-size: 45px;
}

.datenschutz h2 {
    color: #1779ba;
    font-size: 38px;
}

.datenschutz h3 {
    color: red;
    font-size: 30px;
}