<!DOCTYPE html>
<html lang="de">
    <%- include('partials/head.ejs') %> 
    <body class="youtube">
    
    <%- include('partials/header.ejs') %> 

    <div class="content-wrapper">
        <div class="content">
            <div class="catcher_01">
                <div class="overlay">
                    <h1>Start coding together!</h1>
                </div>
            </div>
            <div class="text_01">
                <h1>Ich möchte dir dabei helfen, programmieren zu lernen!</h1>
                <p>
                    Ja, du hast richtig gelesen. Ich möchte so vielen Leuten wie möglich dabei helfen,
                    das Handwerk des Programmierens zu erlernen. Wie das geht? Naja, mit DER Lernplattform des 21. Jahrhunderts:
                    YouTube. In Tutorialform bringe ich dir zunächst die Grundlagen der Java Programmierung bei, die wir später dann einsetzen werden,
                    um einen Pong-Klon zu entwickeln. So hast du nicht nur die öde Theorie, sondern du lernst das Programmieren am konkreten Beispiel
                    und hast am Ende sogar dein eigenes Spiel entwickelt.
                </p>
            </div>
            <div class="catcher_02">
                <h1></h1>
            </div>
            <div class="text_02">
                <h1>Tutorialreihe "Pong Programmieren in Java"</h1>

                <p>In dieser Tutorialreihe lernst du die Grundlagen der Programmiersprache Java und programmierst aufbauend mit mir zusammen
                dein eignens Pong Spiel!</p>
    
                <h2>Folge 0 - Die Einführung</h2>
                <div class="embed-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R-2biJ-FnF8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <h2>Folge 1 - Java Crashkurs Teil 1</h2>
                <div class="embed-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2QNxSGkh78w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <h2>Folge 2 - Java Crashkurs Teil 2</h2>
                <div class="embed-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/13UjFGA_5m8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <h2>Folge 3 - Java Crashkurs Teil 3</h2>
                <div class="embed-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VahrZDY14Pg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <h2>Folge 4 - Das Grundgerüst</h2>
                <div class="embed-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/3uz8DQ_0TrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <h2>Folge 5 - Der Ball Teil 1</h2>
                <div class="embed-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sqvpIK_GArU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %> 
    </body>
</html>